
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerplus {  
background: rgb(241, 239, 239);  
}

.App {
  text-align: center;
  padding: 20px 0;}



.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  text-transform: capitalize;
}

.form input {
  width: 280px;
 height: 40px;
  margin: 10px; 
  padding: 0 15px;
}

.last{
  width: 50px;
}

button{
  padding: 5px 10px;
  background-color: wheat;
}


.card {
  text-transform: capitalize;
  margin-top: 30px ;
  padding-top: 50px;
}

.card > h3 {
  text-transform: capitalize;
  font-variant: small-caps;
}

.card > input{
  width: 200px;
  border-radius: 20px;
  padding: 0 15px;
}


.card > button{
  width: 140px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bolder;
  background-color: white;
}

